[2020-03-02 20:13] JadElClemens opened #1 "Undefined reference to 'pinMode' with ESP32/APA102"
The example project compiles fine with the default example configuration, but if I change the `FastLED.addLeds` call to `FastLED.addLeds<APA102, 12, 14, BGR>(leds, NUM_LEDS)` (just for example) I get a linker error `components/FastLED-idf/platforms/esp/32/fastpin_esp32.h:20: undefined reference to 'pinMode'`.

This may just be a bug in FastLED, but I figured I'd report it here since I'm not using

[2020-03-08 23:16] bbulkow commented on #1
I see. It appears that APA102 uses SPI only, and won't work with RMT like the WS8211s. Thus all of the LED types which require SPI are non-functional. I'm checking to see if it's something simple to get the SPI code properly compiling, but I don't have LEDs of those sorts to test with. Pull request welcome!

[2020-03-09 01:00] bbulkow commented on #1
Fixed, it compiles now. pinMode is an Arduino function that doesn't exist in esp-idf, which means pulling in more of the hal.

I don't have any 4-wire LEDs around the house. If you do, please try and let me know if it works.

Interestingly, a 4-wire pin can't use the RMT interface, because the two wires have to be in sync,  which means the speed of this system is far lower. No parallel channels.

[2020-03-09 01:03] #1 closed

[2020-03-14 19:53] bbulkow opened #3 "report: this crashes with NPE on ESP-IDF master"
User reports an NPE on Master, when code has been tested with 4.0/release of ESP-IDF.

Claims that adding a call to register the rmt device even when the documentation says not to fixes the NPE.

It is hoped this code works with future versions of 4.x ESP-IDF as well as 4.0, so the task is to test again and see what's really going on. If ESP-IDF has an inconsistancy with their documentation, or ha

[2020-03-15 23:00] drewandre opened #4 "Linking issues"
Hi, I'm so grateful you took the time to port this library! I think it'll be well worth the effort given the popularity of esp32 and fastled.

I wanted to let you know of couple issues I had trying to build this example repository.
1. I didn't see any clear instructions in the readme on how to run. I'm assuming I can just run `make`, but do I need to include the arduino library as well? Some clear

[2020-03-20 14:05] dant14 commented on #4
Firstly - commendable job on this port - I tried it with the SPI APA102 LEDs from sparkfun and I can confirm that the basic functionality works perfectly at a first glance.

I had various issues ( linking errors such as the above one as well I think ) but I just did
`git checkout release/v4.0` in the esp-idf folder and everything worked as it should.

[2020-03-28 20:19] bbulkow commented on #4
First, I have not tested on 4.1, only on the 4.0 release branch. I am hoping ESP-IDF is stable enough that it works on 4.x but have not tested.

Second, you shouldn't have to include Arduino, it is not intended. It is intended that the project builds when you download it, and then you can do the work of moving the component into your own project. The example doesn't include arduino.

Does the exam

[2020-04-07 18:52] bbulkow commented on #4
Hi, I'm going to close this issue as I've updated the README to be clear the project is an ESP-IDF project and must be built with the ESP-IDF system, and provided links to that environment.

[2020-04-07 18:52] #4 closed

[2020-05-07 02:30] geofholbrook opened #5 "idf.py build fails"
This version of FastLED appears to be what I need ... but it doesn't seem to build with the latest version of esp-idf. (`v4.2-dev-1206-g741960d5c`)

`idf.py build` gives the following read out (slightly abridged)

[code]

[2020-05-10 17:49] bbulkow commented on #5
Both of those error sare in esp-idf, and not in FastLED, however, I think I know your problem, and am moving the project to 4.2 as we speak.

I have found in order to move from 4.0 to 4.2, it is necessary to do a fresh clone, and follow the steps of install as well as export.

However, this particular problem is having a menuconfig which is out of sync with the version of ESP-IDF. In particular, t

[2020-05-11 21:50] geofholbrook commented on #5
@bbulkow thank you!

I have had success so far with some other projects, and the examples in the esp-idf repo itself  tend to compile ok. I did a fresh clone as you suggested, get a different error on build. I could hold off until I see a new commit here since you mention you're moving to 4.2, but I'll include the readout in case it's useful:

[code]

[2020-06-19 21:00] bbulkow commented on #5
That I already solved. One adds the menuconfig option to support the 'legacy' use of the rtc_gpio_desc' structure. However, reading the esp-idf code, it's unclear why one doesn't just use the esp_gpio_desc structure. They're the same but one's easier to find.

[2020-06-21 23:42] bbulkow commented on #3
This is a fine pickle. To my eye, it looks like registering your own interrupt handler doesn't work post 4.0. There is no function, when you've registered your own handler, to set the interrupt threshold, other than calling the internal routines one's self.

Thus, the code will look at the ESP-IDF version, and if the version is > 4.0, will default to using the system handler, until this is resolve

[2020-06-22 21:46] bbulkow commented on #3
Very interesting. ESP-IDF maintainer has stated the crash was a mistake - the API was not intended to have this requirement. Looking for an upstream patch, although this has a work around: https://github.com/espressif/esp-idf/issues/5476

[2020-06-28 06:12] bbulkow commented on #3
Resolved. Long story. Have moved to using the build-in driver with versions of ESP-IDF over 4.0. See readme.

[2020-06-28 06:12] #3 closed

[2020-06-28 06:12] bbulkow commented on #5
Fixed now.

[2020-06-28 06:12] #5 closed

[2020-06-29 21:51] Ivorforce opened #6 "SPI Support"
Thanks a lot for this port! I'm currently still struggling to get it running with platformio (files aren't being found by default), but meanwhile I wanted to share a quick half-PR with you.

As far as I've seen, so far there is no ESP32 SPI output in FastLED yet.

https://gist.github.com/Ivorforce/adcc7dd68c2b43d8cbb1f58de36a09fe

This gist is a quick dump of my own SPI setup for another project,

[2020-06-30 02:16] bbulkow commented on #6
Thanks. SPI does seem nice, I'll take a look.

[2020-06-30 02:18] bbulkow opened #7 "ESP-IDF built-in driver doesn't work right"
In release versions 4.1, 4.2, and master, the system driver is enabled by default, because the code doesn't crash.

However, it also doesn't work. The colors are terribly wrong, so it seems the conversion going into ESP-IDF must be bad, or the bit rate is bad, or something.

First test will be to see if the build-in interrupt handler at least is working under the later releases just so something w

[2020-06-30 04:05] yawyd opened #8 "build failed after enable bluetooth"
Hello

`idf.py build` works fine after I clone this awesome repo.
But it went wrong after I execute:
[code]
I got error message like this:
[code]

I'm using esp-idf version **v4.0.1** on **Ubuntu20.20**

for now, I did some _dirty_ by **comment the line 31 in file `components/FastLED-idf/hal/esp32-hal-misc.c`** and build pass.

Let me know I miss somethings?

[2020-06-30 09:59] Ivorforce opened #9 "implicit declaration of function 'pinMatrixOutAttach'"
I got further some steps, and now I'm getting a compile failure on various hal-files.

I traced back the steps and this function seems to be usually declared in `esp32-hal-matrix.h`, which is not included in this distribution.

I have to add I'm using platformio's Arduino / esp-idf special cocktail mix, and the arduino framework adds those header files itself too. Though it does not seem to be com

[2020-06-30 14:41] Ivorforce commented on #6
I'm running this on my ESP32, FastLED on Arduino framework. But the code is accessing esp-idf native API only, I believe.

It's a header file that just has to be included somewhere, with some constants being set. The precompiler directives of FastLED coerce this to automatically be used in place of bitbanging if either of the 3 directives on the bottom of the file is matched ( e.g. -D SPI_DATA=13

[2020-07-16 10:51] plebed commented on #7
Maybe the problem is caused by https://github.com/espressif/esp-idf/issues/5524

[2020-07-20 16:57] bbulkow commented on #7
Thanks for the pointer. This repo is now a fork of https://github.com/samguyer/FastLED , and thus all the code has changed, so needs to be retested. I don't think Sam's code was correct for the built in driver - I sent him a pull request.

I will keep an eye on 5524, thanks.

[2020-07-24 20:10] bbulkow commented on #6
The file that has to be replaced is the clockless_spi file in the platforms/esp/32 directory. If you have a file that works instead of the existing one, writing to the ESP-IDF interface instead of arduino, I'd love to see it.

[2020-07-24 20:11] bbulkow commented on #8
Ah. good catch. Let me take a look.

[2020-07-24 20:12] bbulkow commented on #9
Since I don't use platformio, I can't reproduce this. Happy to take a pull request of your fix though.

[2020-07-27 00:31] bbulkow commented on #8
Resolved. Please re-pull

[2020-07-27 00:31] #8 closed

[2020-07-27 04:12] bbulkow commented on #9
Rather interesting. The file that was annoying you isn't used, the hal files aren't for both of those --- the RMT system is direct and doesn't need an arduino "shim".

Thus, I've removed the files and references to them. I can only assume that PlatformIO is simply taking all the C files and compiling them, instead of looking in the CMakeLists.txt and trying to figure out what files are actually us

[2020-07-27 04:12] #9 closed

[2020-07-28 00:25] tonyp7 opened #10 "Thank you for your work"
Just a small message to say I appreciate the work you've done with this.

This past week I have really pulled my hair on controlling a WS2812 with esp-idf and RMT. Most notably I had issues where sometimes some LEDs were not getting lighted up properly and that happened at random --and that's with using a proper SN74LVC1T45 level translator. These glitches are in an environment where I have a RTC

[2020-07-30 20:37] bbulkow commented on #10
Looks like you didn't use this library, according to your code? Did you have issues using this component, that I can look into?

[2020-07-31 00:31] tonyp7 commented on #10
Not at all! I used a different codebase to control WS2812s because I had not found your repo yet when I started. I was just ranting about the same glitches you mention while using network and the lack of a good RGB led lib for the esp32 ;-)

[2020-07-31 02:38] tonyp7 commented on #10
closing as to not pollute your issue tracker

[2020-07-31 02:38] #10 closed

[2020-08-24 21:30] jacobandersson86 opened #11 "Build error "RMT_DEFAULT_CONFIG_TX" not declared."
I am getting the build error as stated in snippet below. I am using esp-idf v4.0. Does anyone have any ideas what might be wrong here? I am trying to build the example, but I am getting the same problem when I am trying to incoperate FastLED-idf to my project.
[code]

[2020-08-24 21:37] jacobandersson86 commented on #11
Reverted one commit to df6963230107d0a6fe38d6e981506245586b0fce and it does now compile the example.

[2020-08-28 20:33] outlandnish opened #12 "Adding an LED strip on an RTC pin fails"
First, thanks for creating this port for ESP-IDF!

I just switched from IDF 3.3 to IDF 4.1 and now whenever I add a Neopixel LED controller to GPIO33, I get the following error:

[code]

The code works fine for the other GPIO pins that I use (22, 26, and 14). This code worked fine for GPIO33 with IDF 3.3. If it helps, I'm using the I2S driver instead of the RMT driver at the moment.

[2020-08-28 21:07] outlandnish commented on #12
This following section is not needed in `esp32-hal-gpio.c` if the `Support array `rtc_gpio_desc` for ESP32` option in `Component config > Driver configurations > RTCIO configuration` is enabled in `menuconfig`
[code]
That said, even with that change, I kept getting the error above. Since I'm not using any of RTC functionality, I commented out this section and I no longer have the issue. That first

[2020-09-01 11:55] drewandre opened #13 "esp-idf v4.2 rmt_set_tx_thr_intr_en() panic"
Hi @bbulkow, thanks for this great port. Cloning this repo fresh, copying the sdkconfig.4-1 to sdkconfig, and running the example against esp-idf v4.1 results in an `rmt_set_tx_thr_intr_en()` panic as described on [this esp-idf issue](https://github.com/espressif/esp-idf/issues/4583) (stacktrace copied below). I understand this is an issue introduced in esp-idf v4.1 as you discussed on [this other

[2020-09-02 11:37] drewandre commented on #13
Closing as this was resolved by updating to the esp-idf release/v4.2 branch.

[2020-09-02 11:37] #13 closed

[2020-09-02 11:59] drewandre opened #14 "APA102 LoadProhibited when Bluetooth is enabled and data pin 19 is used"
Hi @bbulkow, thanks again for a great port and for keeping this port maintained with the latest esp32 fastled improvements. With dual mode bluetooth controller enabled **on esp-idf v4.2**, trying to run your `fastfade` on a single APA102 status led throws a LoadProhibited exception if my data pin is GPIO 19. The animation appears to run fine on WS2812B leds using GPIO 19 for data out.

I basically

[2020-09-07 20:50] bbulkow commented on #11
This is due to the annoyance that ESP-IDF does _not_ support semantic versioning. The initialization of the rmt_config_t is different from 4.0 and 4.1++. I had found a recipe to make it all work before.... let me see if I can find it again....

[2020-09-07 20:55] bbulkow commented on #12
Interesting, thanks. The fact that the IDF_VERSION is not _needed_ doesn't make me want to take it out, because then I have to check for existence. I'll look into it though.

I'll check into this, though, it seems just defining as PIN 33 shows the error, so it should be quick to sort out. Thanks.

[2020-09-07 20:56] bbulkow commented on #14
Did you have the same issue with your environment with a WS2811 format string, and with bluetooth disabled?

Thanks for the report, I'll give it a try.

[2020-09-08 18:17] bbulkow commented on #14
Oh, please notice, you're using the 4.2 SKD with master, which is post 4.2. Don't do that.

When using master, you should generate your own SDKCONFIG based on the master you have. Basically, remove sdkconfig, run menuconfig and set for your chip, and run. Espressif's SDKCONFIG is simply not very stable, it seems they are always adding and removing things.

There's nothing specific in the FastLED c

[2020-09-08 20:33] drewandre commented on #14
Hi @bbulkow -- when you suggest trying WS2811 with bluetooth disabled, you're basically asking if the example runs after a fresh clone, right? Because the `LED_TYPE` is already WS2811 and bluetooth is disabled in the example on the master branch. But to answer your question, yeah it runs out of the box.

I re-generated the sdkconfig from scratch like you suggested. After enabling bluetooth (not ev

[2020-09-09 08:14] legonigel opened #15 "Crash during show in esp-idf 4.1"
Ran into this with esp-idf *4.1* trying to run the provided main.

My investigation shows that it gets to `.show()`. I tried a ton of things and eventually found that setting `FASTLED_RMT_BUILTIN_DRIVER` to `1` made the issue disappear.  I don't fully understand the implications of this, and if I should just live with it set to `1`, but I don't need to use the RMT for anything else and the docs se

[2020-09-09 16:52] bbulkow commented on #14
Sorry if I was unclear. I was asking if you could try your test case using a fresh sdkconfig. In your description, you've mismatched using the "sdkconfig4.2" with a master tree. Can you do exactly what you did, but instead of using one of the checked in sdkconfig, delete the sdkconfig completely, do an idf.py menuconfig to create a new one, set whatever you want to set, and try again?

[2020-09-10 07:38] legonigel commented on #15
I can now confirm that this does _not_ happen on 4.2, so this seems to be a 4.1 issue.

[2020-09-10 10:39] Thenicolaibulow commented on #15
I can repport a very similar issue, though with version 4.2.
I'm (trying to) run 512 WS2812B's on a ESP32 Wroom, and am experiencing a very similar hard crash, whenever .show() i called.

`
entry 0x40080690
I (28) boot: ESP-IDF v4.2-dev-459-ge36516372-dirty 2nd stage bootloader
I (28) boot: compile time 12:28:27
I (29) boot: chip revision: 1
I (33) boot.esp32: SPI Speed      : 40MHz
I (38) boot.es

[2020-09-11 13:52] drewandre commented on #14
Hey @bbulkow, in my comment above I mentioned that I did generate the sdkconfig from scratch like you suggested. I totally blew away all sdkconfig files and re-ran menuconfig to generate a new one. Let me know if I can help debug at all!

[2020-09-12 17:20] bbulkow commented on #14
Good news is it's reproducing on my machine. Should have an update shortly.

[2020-09-12 18:23] bbulkow commented on #12
There was a code error around checking for RTC pins and doing the right thing, and the deprication of the old API in 4.1, and my poor understanding of the issue in my workaround. I believe I have re-coded correctly for the new API with changelist 81e041d2554fee36be9df2ff8e9303753e926536 , please let me know if the problem has not be resolved.

[2020-09-12 18:55] bbulkow commented on #15
@legonigel  Can you say what number of LEDs you have, what model, what pins?
I have resolved issues regarding how RTC pins were locked today, but I don't think this solves your issue.
It sounds more like a blown stack based on a large number of LEDs. Please let me know your led count so I can re-test.

[2020-09-12 18:56] bbulkow commented on #11
Resolved, has now been tested with 4.0 and 4.2 and master.

[2020-09-12 18:56] #11 closed

[2020-09-12 18:57] bbulkow commented on #12
Going to mark this resolved. Please retest and reopen if you have an issue.

[2020-09-12 18:57] #12 closed

[2020-09-12 18:57] bbulkow commented on #14
Going to mark this as resolved. Please reopen if problem has not been resolved with today's checkins.

[2020-09-12 21:23] #14 closed

[2020-09-12 23:03] legonigel commented on #15
I was running 5 WS2812b LEDs, So I don't think this was a number of LEDs Issue. I tested on GPIO26 and GPIO27. I'm only trying to run a single strip of 36 LEDs, so nothing crazy.

I never actually got it to run the strip, so I wouldn't say it worked, but it didn't crash the ESP. It would output like 2.75 LEDs worth do data (I forget the exact number of bits, I think ~70 bits) then stop. I was outp

[2020-09-13 03:06] bbulkow commented on #15
I wanted to make sure there wasn't a hidden stack allocation on a path somewhere, and didn't see anything crazy, which is what I was worried about. I've got 4.1 cloning and will see if I can get it to crash, try a lot of LEDs on both, etc.

[2020-09-14 17:17] bbulkow opened #16 "More than one channel doesn't work with mem_blocks_num"
If you use the default code which uses mem_blocks_num of 2 ( or increase it further ), ESP-IDF demands that you skip channels. For example, if you use channel 0 with 2 memblocks, then you must skip channel 1 because its memory is already in use.

Until this issue is resolved, you can use one LED strip with greater mem_blocks, or you can use a mem_blocks_num of 1 and multiple strips. Looking at a f

[2020-09-14 17:35] samguyer commented on #16
@bbulkow  I just add add the number of mem blocks to the channel as I'm assigning them:

        int channel = 0;
        while (channel < FASTLED_RMT_MAX_CHANNELS && gNext < gNumControllers) {
            ESP32RMTController::startNext(channel);
            // -- Important: when we use more than one memory block, we need to
            //    skip the channels that would otherwise overlap in memory

[2020-09-14 17:39] bbulkow commented on #16
Sweet and thanks. It's probably time for me to test gNumControllers > RMT_MAX_CHANNELS, which will happen more frequently when RMT_MEM_BLOCKS > 1, want to make sure all that works even with this extra complication.

[2020-09-14 17:40] bbulkow commented on #15
@Thenicolaibulow  your issue must be different. I'll test 512 on 4.2 only, and may break out your issue, unless you want to create a new one yourself. @legonigel  's issue is clearly 4.1 specific.

[2020-09-14 17:54] samguyer commented on #16
I was thinking the same thing.I think it will work, since the next controller just takes the channel number that was freed up.

[2020-09-14 18:08] bbulkow commented on #16
Checked in, will test this afternoon.... couldn't get any worse.... :-0

[2020-09-14 20:05] Thenicolaibulow commented on #15
Thanks @bbulkow I'd appreciate that. I can of course not outrule, that i might be facing bigger issues than mentioned here, as i've had problems with other libraries too. With other libraries i've been able to get the LED's to run, however it's been with quite a lot of glitching after 450th LED, which i've been suspecting is due to the "interrupt issue" which, from i can tell, is exactly what you'

[2020-09-15 01:31] bbulkow commented on #15
Resolved issue with ESP-IDF 4.1, required a bit of work. Please let me know if you have further problems.

[2020-09-15 01:32] bbulkow opened #17 "Crash with 512 LEDs"
I can report a very similar issue, though with version 4.2.
I'm (trying to) run 512 WS2812B's on a ESP32 Wroom, and am experiencing a very similar hard crash, whenever .show() i called.

`
entry 0x40080690
I (28) boot: ESP-IDF v4.2-dev-459-ge36516372-dirty 2nd stage bootloader
I (28) boot: compile time 12:28:27
I (29) boot: chip revision: 1
I (33) boot.esp32: SPI Speed : 40MHz
I (38) boot.esp32: S

[2020-09-15 01:35] bbulkow commented on #17
Reported by @Thenicolaibulow

Thanks @bbulkow I'd appreciate that. I can of course not outrule, that i might be facing bigger issues than mentioned here, as i've had problems with other libraries too. With other libraries i've been able to get the LED's to run, however it's been with quite a lot of glitching after 450th LED, which i've been suspecting is due to the "interrupt issue" which, from i

[2020-09-15 01:36] bbulkow commented on #16
Resolved, hopefully.

[2020-09-15 01:36] #15 closed

[2020-09-15 01:51] samguyer commented on #16
I just tell people that if they're not happy, I'll give them a full refund. ;-)

[2020-09-15 01:56] bbulkow commented on #17
I just tried simply setting the test code to 1024 LEDs and the code was stable. There have been quite a few changes since you last tried, can you try again?

And also mention the structure of your leds... all one controller? or many pins?

[2020-09-15 02:21] bbulkow commented on #16
Multiple channels crashes immediately. Need to fix.

[2020-09-15 02:31] samguyer commented on #16
Ok, I'll take a look tomorrow.

On Mon, Sep 14, 2020 at 10:21 PM Brian Bulkowski <notifications@github.com>
wrote:

[2020-09-15 03:53] bbulkow commented on #16
Not in your version. I wrote it a different way.

[2020-09-15 06:40] bbulkow commented on #16
Resolved with ba32cc3

[2020-09-15 06:40] #16 closed

[2020-09-15 08:04] bbulkow commented on #7
Seems to work now.

[2020-09-15 08:04] #7 closed

[2020-09-15 09:56] Thenicolaibulow commented on #17
Hi! @bbulkow

I replaced my IDF with v4.1, and it all seems to be working now. Thanks!
Now on to tackling my power supply solution.. (currently running on a LM2596 which is just HORRIBLE!)

Thanks for all the work. Really appreciate it!

\n

[2020-09-15 15:51] #17 closed

[2020-09-15 18:57] bbulkow commented on #6
First, SPI _output_ is supported through bit-banging. Sure it'll be slow, but it saves pins.

@lvorforce , how fast do you need to go?

Second, the SPI _hardware_ support is fairly easy. The Arduino code isn't much help. There's a header file from @ntwallace that shows how to do it on Arduino, this is a pretty simple pattern to follow. I'll rewrite the code for FastLED after I get some LEDs to tes

[2020-09-15 19:05] outlandnish commented on #12
@bbulkow sorry for the delay in responding. I just confirmed that everything works now, thanks!

[2020-09-15 19:10] outlandnish opened #18 "Restructure repository for the components"
To use this FastLED-idf component in my code and keep up to date with your changes, I keep my own respository that tracks these changes as an IDF component here: https://github.com/intentfulmotion/FastLED-idf

This allows me to use it as a submodule in my project and not have to keep a version of this component's source in my project repository (https://github.com/intentfulmotion/firmware-amp). It

[2020-09-15 19:41] ntwallace commented on #6
@bbulkow Nice work on this port. BTW, the Arduino implementation of the ESP32 GPIO mux limits speeds to 26Mhz on each SPI bus, I'm assuming in ESP-IDF you have access to the full 80Mhz? The hardware driven SPI in Arduino FastLED I wrote is more efficient in terms of clock cycles than bit banging, but that really only matters when you're running other code with a lot of overhead. As you noted, it's

[2020-09-27 19:40] bbulkow commented on #18
Yes, that's a good idea.

[2020-09-27 19:41] bbulkow commented on #6
I have tested the bit-bang APA102 code with the TinyPico (everyone said it would work but it's good to know). Next up is writing a quick shim to the ESP-IDF driver, I have a 128-pixel APA102 strip to test with now.

[2020-09-29 17:40] Pacheu opened #19 "FastLED breaking Ethernet using RMT (LAN8720) ? And wrong LED pattern using I2S"
Hi ! I am currently developing something on an ESP32 using ESP IDF and I was adding your library to my project to light up a Neopixel Ring (24 pixels).

I encountered some problems regarding the use of Wi-Fi and FastLED, which I believe I solved (I will describe it later), but now I am stuck with a new problem :  On the first call to FastLED.show(), my Ethernet connectivity breaks ; I don't see an

[2020-10-01 20:35] NeliusNDL commented on #19
I am busy investigating led control while using the ESP32 an I stumbled on this. Reading bbulkow interesting readme I see that he on several occasions mention that I2S module works much better and is more stable. Have you tried the I2S module instead of the RMT. I am also going to use the olimex EVB....I hope I don't get the same problem 😳

[2020-10-02 08:41] Pacheu commented on #19
Hi @NeliusNDL ! Thanks for your comment ! I confirm that this problem does not occur with I2S (when commenting / un-commenting lines in CMakeList.txt and FastLED.h). This means, pings are being replied to while LEDs are blinking.
**BUT**, now LEDs are not showing correctly with and without Wi-Fi initialized :
- With the example above, with NUM_LEDS at 12, sometimes one more led is lit up with anot

[2020-10-05 23:07] bbulkow commented on #19
Hi @Pacheu . This sure sounds like the Olimex board is using a pin that you're trying to use. It looks like the EVB board is kinda tough because given the number of features it has, you have to find free pins. I see that all the pins you've tried are bootstrapping pins, I see on the Olimex support board lots of questions about which pins do what. It looks like the EMAC pins can be remapped through

[2020-10-06 13:03] Pacheu commented on #19
Hi @bbulkow ! Thank you for your time. After reading your comment I ran some more tests on Power supply, pins, etc ...
- I powered the Olimex board using an external Power supply (5V, up to 3A) : Did not change a thing
- I tried with pins 32 then 33 (Relay 1 and 2) alone, with no other stuff except Ethernet, had the same RX drop issue

[2020-10-06 13:54] Pacheu commented on #19
Hi @bbulkow ! Thank you for your time. After reading your comment I ran some more tests on Power supply, pins, etc ...

- Using RMT and 1 LED ring :
  - I powered the Olimex board using an external Power supply (5V, up to 3A) : Did not change a thing
  - I tried with pins 32 then 33 (Relay 1 and 2) alone, with no other stuff except Ethernet, had the same Eth RX issue
  - I tried with the Olimex Ga

[2020-10-06 15:54] ntwallace opened #20 "Glitching issues with patterns"
First off, thanks for this port--this was the push I needed to migrate my big LED projects from Arduino to IDF with Arduino as a component. Let me know if I can be of help with the hardware SPI driver at all.

I'm testing out running WS2812FX patterns on WS2812B LEDs and noticing a few different glitching and ghosting issues:

1. The last pixel always glitches white when I run a pattern. This happ

[2020-10-06 19:15] bbulkow commented on #19
Thanks for all that testing, but tell me, where can we go next? The RMT driver is specifically built to only use that one pin and attaches the RMT driver to it. How else could it cause problems to the Ethernet driver and stack? My theory was pin conflict, but given your testing, I agree that seems impossible - although thank you for the pointer to RIOT OS documentation. It seems to also state, for

[2020-10-08 09:58] BorisKourt commented on #20
I am also having these issues. The leading pixels are ghosting 'ahead' by a semi-random number.
The board I am using is Adafruit's Huzzah32. Data pin is set to 33 in the code, I haven't been able to find information on whether this pin is problematic or not.

I need WiFi for my application, and disabling just bluetooth on its own doesn't have an effect.

Since there is additional code running alon

[2020-10-08 10:37] BorisKourt commented on #18
I agree with this. Structurally it might be better to move the examples 'wrapping' out of this repository, and just leave the FastLED component here. That way the bulk of the work remains here, historical changes are clearly preserved, and the examples become optional.

Essentially:

[code]

I'd gladly PR a proposal, but sadly can't just create repos under your name! :D

(happy to help clean up th

[2020-10-08 15:59] Pacheu commented on #19
Hi ! First of all I'd like to thank you again for your time and your answers.
So, once again, after reading your post I have continued to run some tests :

- **Concerning configurations protecting stack / heap memory :**
  - Turned on Compiler options -> stack smashing protection -> overall
  - Turned on Component config -> heap memory debugging -> heap corruption detection
  - Looked at Component

[2020-10-10 03:49] bbulkow commented on #19
@Pacheu I had a think while I was sleeping, and want to confirm a fact.

The I2S driver implementation DOES NOT impact the Ethernet use, it simply is wrong.

If that's the case, since it uses the same amount of memory and mostly the same code paths until it actually manipulates drivers, then my new theory is the Ethernet driver is using the RMT hardware in some way. This can probably best be valid

[2020-10-12 09:47] Pacheu commented on #19
Hi ! @bbulkow Thank you a lot for your enthusiasm ! I confirm that the I2S does not impact anything else and that it is just wrong linke you said.

Also, I am almost certain that Ethernet here does not use RMT module. I looked over the code, "rmt" does not appear anywhere in any file from esp_eth, and eth_phy + eth_phy_lan8720 files use driver/gpio or eth_phy special structures. Moreover, after in

[2020-10-15 12:43] drewandre opened #21 "Unable to change I2S_DEVICE from 0 to 1"
Hi @bbulkow, thanks again for this port and for the quality of maintenance. I've found it a breeze to work with so far and the readme is above and beyond.

I'm using this port in a project that uses the SGTL5000 audio codec on I2S bus 0 (which this port uses by default). BT audio stream comes in and is handled by I2S bus 0, pumped through a filter bank for audio analysis, and sent to the SGTL5000

[2020-10-17 04:08] bbulkow commented on #21
Thanks, this code comes from Yves, I'll check with him.

[2020-10-17 04:15] bbulkow commented on #19
Wow, great sleuthing! The intended reason for the metaphor of setting the pin to "0" and initializing I've never liked. It is intended to allow a very large number of pins to be used without constantly changing over the PIN structure. It would seem we could change the code to have a "default pin", that is, the pin that we're going to configure as the "first pin", so it could be something other tha

[2020-10-17 04:38] bbulkow commented on #20
@ntwallace  You can't set the FLAG_LEVEL to 4 or greater because the ESP-IDF framework doesn't allow C programs to run at those levels. This is documented https://docs.espressif.com/projects/esp-idf/en/latest/esp32/api-guides/hlinterrupts.html .

1. "last pixel always glitches" - given that all my test patterns on I2S and RMT work _except for a particular I2S issue_, I would find it hard to unders

[2020-10-17 04:42] bbulkow commented on #20
@BorisKourt . I don't know what you could mean by "ghosting ahead". Ghosting is when you turn something (like a pixel) off, and it stays lit for a while, and then goes off ( like a ghost ).

As I've written above, there is a bug in the I2S driver where it will send a little extra data, randomly, and set the pixel which is later than the size configured. This is the only bug I've been able to verif

[2020-10-17 14:45] drewandre commented on #21
Thanks, this is the last item before I'm fully able to switch over from arduino-esp32 to a full esp-idf environment. Let me know if I can help at all or share my audio codec configuration.

EDIT: In theory, running an audio codec on i2s bus 0 alongside fastled running on bus 1 should be possible, right?

[2020-10-17 21:23] bbulkow commented on #19
@Pacheu  Hey! Thanks for the simple test code. It clearly shows the I2S fail. I'll follow up on the other incident when I have status.

[2020-10-21 07:52] Pacheu commented on #19
Hi @bbulkow ! Yeah I did quite a lot of testing to find this one ! But, thank you for the guidance ! I am glad it helps you strengthen this library code.  I hope you will get through the I2S pb, and wish you the best with Olimex boards!

[2020-11-05 17:56] drewandre commented on #21
Hi @bbulkow, just wondering if you ever heard back from Yves? Would this issue be better suited on one of his github repos? Let me know if I can help at all -- thanks.

[2020-12-15 20:43] Ivorforce commented on #6
I read your numbers @ntwallace, but I can only tell you I was able to about 5x my performance (at the least) by using SPI output.

Granted, I require extreme frame rates, so this might not be important to everyone else.

[2020-12-15 20:50] Ivorforce commented on #6
Btw.: I've dropped FastLED since I ended up reimplementing all the interfaces anyway for greater framerates, and control over global brightness bits.

In case it's any help with your ongoing efforts: Here's a link to my current running [SPI implementation](https://github.com/Ivorforce/LED-Fan/blob/master/src/screen/Apa102Renderer.cpp). It's now further removed from FastLED interfaces, but I do sti

[2021-03-09 12:23] L0laapk3 opened #22 "RMT mode messes up pin 0"
Hi there

I've noticed that, when using GPIO 0, using fastled with RMT mode messes up this pin. After a little digging I've come to the conclusion that the problem is caused by these lines:
https://github.com/bbulkow/FastLED-idf/blob/47f83d46898465f3e2298edc50810231166ae504/components/FastLED-idf/platforms/esp/32/clockless_rmt_esp32.cpp#L279-L285

From a quick scan of the original fastled code, it

[2021-03-09 12:30] L0laapk3 commented on #22
PS. not entirely related, but also not worth making an entire issue over, but it would be nice to enclose the entire clockless_rmt_esp32.cpp file in `#ifndef FASTLED_ESP32_I2S` `#endif` to avoid having to mess around in multiple places to enable RMT mode :)

[2021-04-01 16:12] camielverdult opened #24 "Implementing FastLED-idf with espressif esp-homekit-sdk"
Hello,

I am trying to make a firmware (based on example code from [espressif's homekit SDK](https://github.com/espressif/esp-homekit-sdk)) for a board that uses homekit to control WS2812B lights. While trying to add the FastLed component to the [lightbulb](https://github.com/espressif/esp-homekit-sdk/tree/master/examples/lightbulb) example, a ton of warnings and errors occur. I have attached a bu

[2021-04-01 16:22] drewandre commented on #24
All files that import FastLED.h need to be .cpp files. Have you made this change? For example my project which uses FastLED-idf + esp-homekit-sdk has an app_main.cpp file, and all other files are also *.cpp files.

[2021-04-01 16:29] camielverdult commented on #24
The only thing I did was dragging components/FastLED-idf to the components folder of esp-homekit-sdk. I see [here](https://github.com/bbulkow/FastLED-idf#fastled) That you should drop FastLED as well?! Is there an installation/starting out section?

[2021-04-01 16:37] drewandre commented on #24
You dropped _just_ [the FastLED-idf component](https://github.com/bbulkow/FastLED-idf/tree/master/components/FastLED-idf) into your components folder, right? Make sure you didn't put this entire repository in your components folder because the actual FastLED-idf component is inside this repository's components directory.

Also make sure you clean your project (`idf.py fullclean`)

[2021-04-01 17:41] camielverdult commented on #24
I tried to replicate errors after every little step. It appears that after changing the app_main and lightbulb c files to be cpp files, it won't compile. This is without including FastLED. Any idea? [Link to example](https://github.com/espressif/esp-homekit-sdk/tree/master/examples/lightbulb)

[2021-04-01 20:11] dandre-hound commented on #24
What does your CMakeLists.txt look like? Make sure to include these .cpp files. Here is mine:
[code]
Also make sure your app_main.cpp has extern "C" like so:
[code]

[2021-04-01 20:24] dandre-hound commented on #24
You may also need to define extern "C" around any files that import FastLED.h

[2021-04-01 20:25] drewandre commented on #24
What does your CMakeLists.txt look like? Make sure to include the .cpp files you were referencing above. Here  is mine:
[code]
Also make sure your app_main.cpp has extern "C" like so:
[code]
You may also need to define extern "C" around any files that import FastLED.h

[2021-06-23 11:09] markirwin opened #28 "Compiling the code as committed fails"
I am using esp-idf 4.3 and cloned the repo and tried to compile the committed code. However i am getting lots of error messages all relating to the fastLED component. See below
../components/FastLED-idf/FastLED.h:263:113: note:   template argument deduction/substitution failed:
../components/FastLED-idf/FastLED.h:273:131: note:   candidate expects 3 arguments, 4 provided
    case SK9822: { static

[2021-09-24 23:34] sethtroisi opened #30 "vTaskDelay(pdMS_TO_TICKS(9)) is zero"
I'm writing this because I've wasted several hours debugging and maybe someone else can avoid my pain.

I have a nice sample program which breaks above 100fps. The root cause is `vTaskDelay(pdMS_TO_TICKS(10))` delays for 10ms but `vTaskDelay(pdMS_TO_TICKS(9))` delays for **0ms**!

`pdMS_TO_TICKS` is just a nice macro to avoid writing `vTaskDelay(ms * 1000 / portTICK_PERIOD_MS)` which might have he

[2021-09-24 23:34] #30 closed, assigned to nobody

[2021-11-29 08:02] Spencatro opened #32 "Pin support unclear"
Howdy, thank you so so much for your work on this project! I was able to clone the repo and get the main.cpp sample working with a ws2812b strip and my knockoff esp32 devkit in roughly an hour, looking forward to learning how to actually use the library now 😅

I am not sure what pins I can or should use? The default pin used in this example (18) worked great, but the second pin (13) didn't work at

[2021-12-01 16:06] ShubhamS156 commented on #20
Hey,
I'm having a weird problem that whenever I restart my ESP32 the leds show a different color+pattern even if the code just tells it to set a static color. I'm using WS2812B led strip.
``void staticColor(){
    for(int i=0; i<NUM_LEDS; i++){
        leds1[i] = CRGB(90,190,0);
    }
    FastLED.setBrightness(BRIGHTNESS);
    FastLED.show();
    delay(500);
}

void app_main() {
  printf(" enterin

[2021-12-02 08:57] Spencatro commented on #21
+1 on this one. I think there's gotta be something in `clockless_i2s_esp32.h` hardcoded to 0 somewhere, maybe?

[2021-12-02 09:33] Spencatro commented on #21
Left a comment on FastLED#1165 as well, but it looks like this may just be a limitation of I2S1: in the [technical reference manual](https://www.espressif.com/sites/default/files/documentation/esp32_technical_reference_manual_en.pdf)--page 303, section 12.1, note 1: "... (note that I2S1 does not support 24-bit width)."

Bummer!